/**
 * Agland overrides start here.
 */
/*Main Background on home page*/
body {
    color: #27251F;
}

td.header {
    background-color: #367c2b;
}
.header {
    background-color: #367c2b;
}
.iatab {
    background-color: #367c2b;
}
.tabind_d2 {
    border-left: #367c2b;
}
.rows {
    background-color: #367c2b;
}

/* Start Parts Invoicing Tabs*/
#tabs #text #iealign {
    background-color: #367c2b;
}

li.active {
    color: #FFDE00;
}

#tabs #text {
    background-color: #367c2b;
}
/* End Parts Invoicing Tabs*/

html.GREEN .cdk-btn-primary {
    background-color: #367c2b;
}



